.nested {
    margin-bottom: 0;
}

.nested span {
    font-size: 10px;
}

table {
    min-width: 400px;
}

table.primary-font {
    font-family: var(--primary-font);
}

.table>:not(:first-child) {
    border-top-width: 1px;
}