.nested {
    margin-bottom: 0;
}

.nested span {
    font-size: 7px;
}

th {
    width: 33.33%;
}

table {
    min-width: 400px;
}

table.roboto {
    font-family: 'Roboto';
}

.table>:not(:first-child) {
    border-top-width: 1px;
}