.description .amatic {
    font-family: 'Amatic SC';
    margin-bottom: 65px;
    font-weight: bold;
}

.description .block {
    display: block;
}

.description .center {
    text-align: center;
}

.description .left {
    text-align: left;
}

.description .small {
    font-size: 18px;
    font-family: var(--primary-font);
}

.description .image.block {
    margin-bottom: 45px;
    text-align: center;
}

.description .video-block {
    text-align: center;
}

.description .info-alt {
    font-size: 12px;
}

.description .image.block .desc {
    text-align: left;
}

.description .overlay {
    height: 60px;
    position: relative;
    right: -30px;
}

.description .desc.info {
    margin: 15px 0;
}

.description .fundamental {
    margin: 25px 0;
}

.description .video-block .gif-img {
    margin-top: -42px;
    z-index: -1;
    position: relative;
}

.description .fundamental img {
    width: 780px;
    max-width: 80vw;
    margin-left: 42px;
}

.description img.medium {
    height: 42px;
}

.description .width-control {
    width: 580px;
}

.description .links {
    display: flex;
}

.description .goal-section {
    text-align: center;
    margin-top: 25px;
}

.description .par-scr {
    font-style: italic;
}

.description .sub-scr {
    font-size: 10px;
    position: relative;
    top: 4px;
    left: -4px;
}

.description .note .bold {
    font-weight: bold;
}

.description .note {
    margin-top: 25px;
    text-align: left;
}

.description .link-icon {
    height: 16px;
    padding-right: 8px;
    position: relative;
    top: -1px;
}

.description .new-heading {
    font-weight: bold;
    text-align: left;
    margin-top: 35px;
}

.description .models-content {
    margin-top: 25px;
}

.description .height-control {
    height: 23px;
}

.description .hulm-image {
    text-align: center;
}

.description .lan-heading {
    margin-top: 15px;
    margin-bottom: 45px;
    text-align: left;
}

.links .link-block.purple {
    margin-left: 65px;
    width: 250px;
    background-color: rgba(217,210,233,0.5);
}

.links .link-block.green {
    margin-left: 20px;
    width: 250px;
    background-color: rgba(217,234,211,0.5);
}

.links .link-block.blue {
    background-color: rgba(201,218,248,0.5);
    margin-left: 20px;
    width: 250px;
}

.links .link-block {
    display: flex;
    flex-direction: column;
    width: 225px;
    margin-left: 65px;
    padding: 5px 15px;
    border-radius: 6px;
}

.link-block a {
    margin-bottom: 10px;
    font-weight: 100;
    font-size: 16px;
    letter-spacing: 1px;
    color: rgba(0,0,0,1);
    text-decoration-color: rgba(0,0,0,0.5);
}

.description .models-content .body-copy {
    font-weight: bold;
}

.description .medium-large {
    width: 820px;
}

.description .text-link {
    color: #010101;
}