.description .amatic {
    font-family: 'Amatic SC';
    margin-bottom: 65px;
    font-weight: bold;
}

.description .block {
    display: block;
}

.description .center {
    text-align: center;
}

.description .left {
    text-align: left;
}

.description .small {
    font-size: 18px;
    font-family: Roboto;
}

.description .image.block {
    margin-bottom: 45px;
    text-align: center;
}

.description .video-block {
    text-align: center;
}

.description .info-alt {
    font-size: 12px;
}

.description .image.block .desc {
    text-align: left;
}

.description .desc.info {
    margin: 45px 0;
    font-family: Roboto;
    font-size: 22px;
}

.description .fundamental {
    text-align: center;
    margin-bottom: 25px;
}

.description .fundamental img {
    width: 780px;
    max-width: 80vw;
    margin: 0 auto;
}

.description img.medium {
    width: 450px;
}

.description .links {
    display: flex;
}

.description .lan-heading {
    margin-top: 35px;
    font-size: 30px;
}

.links .link-block {
    margin-right: 15px;
    background-color: rgba(0,0,0,0.05);
    padding: 5px 15px;
    border-radius: 6px;
}

.link-block a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1px;
    color: rgba(0,0,0,1);
}