.header .navbar-nav {
    width: 100%;
    justify-content: flex-end;
}

.header .nav-link {
    margin-right: 15px;
    font-weight: 500;
}

.header .bg-light {
    background-color: transparent !important;
    border-bottom: 1px solid #f1f1f1;
}

.header .navbar-brand {
    font-weight: bold;
}

.header .icon-space {
    margin-right: 5px;
}

.header .nav-link-block {
    display: flex;
}

.header .nav-link-block img {
    width: 15px;
}