
.dataset .ds-title {
    margin-bottom: 15px;
}

.dataset .ds.block {
    margin-bottom: 65px;
}

.dataset .ds-desc.label.bold {
    font-weight: bold;
}

.dataset .ds-desc.label.italic {
    font-style: italic;
    margin-right: 5px;
}

.dataset .bold {
    padding-right: 5px;
}

.dataset .down-link {
    color: rgba(0,0,0,0.78);
}

.dataset .data-link {
    color: rgba(0,0,0,0.75);
}

.dataset .ds.heading {
    margin-bottom: 25px;
}