.models .icon {
    width: 35px;
    position: relative;
    top: -5px;
    cursor: pointer;
}

.tables {
    display: flex;
}

.models .model-heading {
    margin-bottom: 45px;
}

.models .table-holder:last-child {
    margin-left: 175px;
}

.models .model-subhead {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 40px;
}

.models h3 {
    font-size: 18px;
    margin-bottom: 16px;
}

.models .down-link {
    color: #000;
}

.models .refer {
    font-size: 32px;
    margin-top: 45px;
}