.models .icon {
    width: 35px;
    position: relative;
    top: -5px;
    cursor: pointer;
}

.tables {
    display: flex;
    justify-content: space-between;
}

.models .model-heading {
    margin-bottom: 45px;
}


.models .sub {
    font-size: 8px;
}

.models .model-subhead {
    font-weight: bold;
    margin-bottom: 25px;
}

.models h3 {
    margin-bottom: 16px;
}

.models .down-link {
    color: #000;
}

.models .refer {
    margin-top: 45px;
}