@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Source+Sans+Pro:wght@100;300;400&display=swap');

:root {
    --primary-font: 'Source Sans Pro';
}

main {
    margin: 0 auto;
    padding: 45px 0;
}

main.center {
    max-width: 60%;
}

main.light-center {
    max-width: 75%;
}

main.width-restrict {
    max-width: 50%;
}

.tagline {
    margin-left: -10px;
    background-color: #f2f6f9;
    padding: 10px;
    margin-bottom: 18px;
    border-radius: 4px;
}

.h1 {
    font-size: 27px;
    margin-bottom: 45px;
    font-family: var(--primary-font);
    font-weight: bold;
}

.h2 {
    font-size: 24px;
    font-family: var(--primary-font);
    font-weight: bold;
}

.h3 {
    font-size: 21px;
    font-family: var(--primary-font);
    font-weight: bold;
}

.body-copy {
    font-size: 18px;
    font-family: var(--primary-font);
}